<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marcos Firebase</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="materialize.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col m12 s12">
            <h1>Marcos Firebase</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m6">
            <p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ratione optio suscipit, doloribus dolorum nisi nam vitae! Itaque, suscipit, alias! Nulla, animi, dolorum. Sint fuga quae, possimus alias corporis fugit!</span>
                <span>Ea animi quidem laboriosam sed porro, praesentium quasi expedita distinctio saepe error modi dolorum maxime laborum, excepturi ullam, labore, earum doloremque iusto cupiditate a perspiciatis? Quos architecto molestias atque, voluptas?</span>
                <span>Aut fuga quas quasi architecto, autem natus quibusdam laboriosam laudantium omnis cupiditate dolorum quos ad possimus minima nobis ratione, accusantium obcaecati debitis. Iusto magni sunt soluta, animi! Officia eos, obcaecati!</span>
                <span>Repudiandae quae rem, veniam ut repellendus distinctio ex mollitia ipsa ratione reprehenderit, numquam beatae, iste blanditiis ipsum rerum ea minima. Quae, accusamus odio tenetur laborum dicta temporibus omnis doloremque nisi.</span>
                <span>Sapiente tempore dicta quo asperiores, provident ad necessitatibus eum beatae quidem minus fugiat id minima recusandae ipsam rerum, possimus accusantium nam veniam hic? Quia adipisci, veritatis fugiat nesciunt nobis ipsam.</span>
            </p>
        </div>
    </div>
</div>

<!-- @TODO Compile with webpack / browserify -->
<script src="jquery.min.js"></script>
<script src="vue.js"></script>
<script src="materialize.min.js"></script>
<script src="script.js"></script>
<script src="vue-data.js"></script>
</body>
</html>
