<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Marcos Firebase</title>
    <link rel="stylesheet" href="bootstrap.min.css"> </head>
<link rel="stylesheet" href="style.css">

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="wrapper">
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <nav id="spy">
                        <ul class="sidebar-nav nav">
                            <li class="sidebar-brand">
                                <a href="#home">
                                    <span class="fa fa-home solo">Add Note
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-scroll> <span class="fa fa-anchor solo">Note 1</span> </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Page content -->
                <div id="page-content-wrapper" class="noteDatum">
                    <div class="content-header">
                        <h1 id="home">
                            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                                <i class="fa fa-bars"></i>
                            </a>
                            <span>
                                {{ title }}
                            </span>
                        </h1>
                    </div>
                    <div class="page-content inset">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Text input-->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input id="title" name="title" type="text" placeholder="Note Title" class="form-control input-md" v-model="title" required="">
                                    </div>
                                </div>
                                <!-- Textarea -->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea class="form-control" v-model="text" rows="19" cols="80" id="text" name="text"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button id="save" name="save" class="btn btn-success">Save</button>
                                        <button id="delete" name="delete" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- @TODO Compile with webpack / browserify -->
    <script src="jquery.min.js"></script>
    <script src="vue.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script src="vue-data.js"></script>
</body>

</html>
