<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Error</title>
    <link rel="stylesheet" href="materialize.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <h1>Not Found!</h1>
    </div>

    <div class="row">
        <a href="/">Go back to homepage</a>
    </div>
</div>

<script src="jquery.min.js"></script>
<script src="vue.js"></script>
<script src="materialize.min.js"></script>
<script src="script.js"></script>
<script src="vue-data.js"></script>
</body>
</html>
